* {
    padding: 0;
    margin: 0%;
    font-family: 'Alata', sans-serif;
}

.pb-4 {
    width: 300px;
    border: 5px solid whitesmoke;
    background-image: linear-gradient(45deg, #273c75, #192a56);
    padding: 50px 250px;
    margin: 0 auto;
    box-shadow: 5px 15px 10px #888888;


}