* {
  font-family: 'Alata', sans-serif;
    text-align: center;
    color: whitesmoke;
  }

body{
background-image: linear-gradient(-90deg, #dfe6e9, #b2bec3);
}

#main{
  width: 300px;
   border: 5px solid whitesmoke;
   background-image: linear-gradient(45deg, #273c75, #192a56);
   padding: 50px 250px;
   margin: 0 auto;
   box-shadow: 5px 15px 10px #888888;
    }

#generateButton{
background-image: linear-gradient(-45deg, #02bb8c, #02bb8c);
padding: 15px 8px;
border-radius: 15px;
color: white;
font-weight: ;
font-size: 20px;
cursor: pointer;
border-color: RGB(22, 54, 99);
transition: all 0.25s ease-in-out 0.1s;


}

#generateButton:hover{
  background-image: linear-gradient(-45deg, #02bb8c, #00a8ff);
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid teal;
  transition: all 0.25s ease-in-out 0.075s;
}

    main{
      width: 300px;
       border: 10px solid whitesmoke;
       padding: 50px 250px;
       margin: 0 auto;
       background-color: RGB(22, 54, 99);
        }

    input{
        padding: 15px 0px;
        margin: 10px;
        border-radius: 10px;

        background-color: #f5f6fa;
        border: 1px solid #ddd;
        color: black;
        border-width: thin;
        width: 320px;
        margin-bottom: 20px;
        outline: 2px whitesmoke solid;
        float: right;
        font-size: 15px;
        box-shadow: 1px 2px 2px #888888;
           }

    select{
        text-align: center;
        padding: 15px 0px;
        margin: 10px;
        background-color: #f5f6fa;
        border: 1px solid #ddd;
        color: black;
        border-width: thin;
        width: 320px;
        margin-bottom: 20px;
        outline: 2px whitesmoke solid;
       float: right;
       font-size: 15px;
       box-shadow: 1px 2px 2px #888888;
               }

  h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 65px;
    letter-spacing: 4px;
    color: #02bb8c;
    text-shadow: 1px 2px 2px #888888;

  }

  ul{
    display: inline;
    display: flex;
  }

  ul li {
      list-style: none;
      display: inline;
      padding: 15px;
  }


  a {
    text-decoration: none;
  }

  .btn {
    background-color: #02bb8c;
    padding: 15px;
    color: white;
    border-radius: 50px;
    width: 70px;
    position: relative;
    margin-top: 20px;
  }

  * {
    font-family: 'Alata', sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333;
    overflow: hidden;
    justify-content: space-around;
  }

  h3{
    font-style: italic;
  }

  li{
    display: inline;
    padding-right: 20px;
    float: left;
    display: block;
   padding: 8px;
   background-color: #333;
   color: white;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
  }

  li a:hover{
    background-color: #111;
    color: white;
    border-color: #111;
  }


  a {
    text-decoration: none;
    color: white;
  }
